<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::section})"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
		
		
		<h1>sfskfsdkfsjk</h1>
         <!--
         <form th:action="@{/savecontect}" method="post" th:object="${cantect}">
			<div class="mb-3">
        <input type="text" th:value="${cantect.contectId}" name="contectId" hidden  >
				<label for="exampleInputEmail1" class="form-label">Email address</label>
				<input type="email" name="email" th:value="${cantect.email}" class="form-control"
					id="exampleInputEmail1" aria-describedby="emailHelp">
				<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			</div>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Name</label>
				<input type="text" name="userName" th:value="${cantect.userName}" class="form-control"
					id="exampleInputEmail1" aria-describedby="emailHelp">
			</div>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Nick Name</label>
				<input type="text" name="nickName" th:value="${cantect.nickName}" class="form-control"
					id="exampleInputEmail1" aria-describedby="emailHelp">
			</div>

			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Number</label>
				<input type="tel" name="phoneNumber" th:value="${cantect.phoneNumber}" class="form-control"
					id="exampleInputEmail1" aria-describedby="emailHelp">
			</div>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Working</label>
				<input type="text" name="working" th:value="${cantect.working}" class="form-control"
					id="exampleInputEmail1" aria-describedby="emailHelp">
			</div>
			<div class="form-floating">
				<textarea class="form-control"
				name="about"
				th:text = "${cantect.about}"
				 placeholder="Leave a comment here" id="floatingTextarea"></textarea>
				<label for="floatingTextarea">Comments</label>
			</div>
			<div class="form-container">
				<label for="file" class="file-label">Choose an Image</label>
				<input type="file" id="file" class="file-input" accept="image/*" />
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>

         -->
    </section>
</body>
</html>