<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Insert title here</title>
  </head>
  <body>
    <section>
      <h2>susant is good boy he is</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
        dignissimos recusandae est consectetur possimus voluptatum accusantium,
        veniam fuga, sequi minus, laborum rerum? Delectus animi iusto voluptates
        sed, aperiam odit debitis.
      </p>
    </section>
  </body>
</html>
